*{
    box-sizing: border-box;
}
.right{
    position: absolute;
    left: 70%;
}
.changesize{
    color: #2163e8 !important;
}
.btnnav1 {
    border: 1px solid #2163e8 !important;
    border-radius: 2px !important;
}
.changesize:hover{
 background-color: #2163e8 !important;
 color:white !important;
}
.social:hover{
    color: #2163e8 !important;
}
.leftnav1:hover{
 color: #2163e8 !important;
}
.nav2{
    border-top: solid 1px gray;
    position: relative;
}
.divnav{
    display: flex;
    position: absolute;
    right: 115px;
}
.divnav a{
    position: absolute;
    left: 125%;
}
.displayy{
    display: none;
}
.search{
    padding: 10px;
    background-color: white;
    float: right;
    margin: -25px 100px 0px 0px;
    background-size: auto;
    width: 24% !important;
}
.search .text{
    border: 1px solid #0cbc87;
    border-radius: 0 !important;
}
.search .text:focus{
    box-shadow: none;
    border: 1px solid #0cbc87;
}
.search button{
    border: 1px solid #0cbc87;
    border-radius: 3px !important;
    background-color: #0cbc87!important;
    color: white;
    font-weight: bold;
}
.sub{
    position: absolute;
    left: 74%;
    width: 120px;
    font-size: 20px;
    font-weight: bold !important;
    letter-spacing: 1px;
}
.glass{
    position: absolute;
    left: 85%;
}
.menuicon{
    float: right;
    position: relative;
    bottom: 78px;
    right: 118px;
}
.close{
    position: absolute;
    left: 91%;
}
.menu-container {
    width: 71% !important;
    background: none !important;
    
}
.menu > ul > li > ul.normal-sub {
    width: 236px;
    left: auto;
    padding: 10px 20px;
}
.menu > ul > li:hover{
    background: none !important;
}
.menu > ul > li a {
    background-color: #ffffff;
    padding: 0.5em 1em !important;
}
.menu > ul > li a:hover{
    background: none !important;
    color: #2163e8 !important;
}
.menu ul li a .circle{
    font-size: 8px;
}
.down{
    font-size: 10px;
}
.hmenu{
    color: black !important;
}
.hmenu:hover{
    color:#2163e8 !important;
}
.navline{
    border-top: solid 2px #e9f0fd;
}
.links{
    border: solid 0px !important;
    font-size: 17px;
    font-weight: bold;
}
ul .rowtrending ul li .btn-outline-primary {
    color: #2163e8 !important;
    background-color: rgba(33, 99, 232, 0.1) !important;
}
ul .rowtrending ul li .btn-outline-primary:hover {
    color: white !important;
    background-color: #2163e8 !important;
}
ul .rowtrending ul li .btn-outline-warning {
    color: #f7c32e !important;
    background-color: rgba(247, 195, 46, 0.1) !important;
}
ul .rowtrending ul li .btn-outline-warning:hover {
    color: black !important;
    background-color: #ffc107 !important;
}
ul .rowtrending ul li .btn-outline-light{
    color: #0cbc87 !important;
    background-color: rgba(12, 188, 135, 0.1) !important;
}
ul .rowtrending ul li .btn-outline-light:hover{
    color: white !important;
    background-color: #198754 !important;
}
ul .rowtrending ul li .btn-outline-danger{
    color: #d6293e !important;
    background-color: rgba(214, 41, 62, 0.1) !important;
}
ul .rowtrending ul li .btn-outline-danger:hover{
    color: white !important;
    background-color: #dc3545 !important;
}

.cardslife h6{
    position: relative;
}
.cardslife h6 a{
    text-decoration: none;
    color: black;
}
.cardslife h6::after{
    content: '';
    height: 3px;
    width: 0;
    background: black;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}
.cardslife h6:hover::after{
    width: 100%;
}
.cardslife a{
    position: relative;
    color: black;
}
.cardslife a::after{
    content: '';
    height: 3px;
    width: 0;
    background: black;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}
.cardslife a:hover::after{
    width: 100%;
}

.list-inline {
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.list-inline-item:not(:last-child) {
    margin: 0px;
}
.menuparent{    
background-color: white;
}
.menu > ul > li  .dropdownlife {
    width: 1155px;
    background: #f0f0f0;
    padding: 20px 13px;
    position: absolute;
    z-index: 99;
    left: -259px;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}
.rowlife{
  display: flex;
  flex-wrap: unset !important;
  flex: 1 1 auto;
  margin: 0 -5px;
}
.rowlife .cardslife{
    margin: 10px;
}
.card img{
    width: 100%;
    height: auto;
}
.menu > ul > li > ul a{
    padding: 0 !important;
    display: inline-block;
}
.menu ul > li > ul .menuparen a:hover{
    color: black !important;
}
.menu ul > li > ul .menuparen .cardbut a{
    background-color:#ffc107;
    font-weight: bolder;
    padding: 7px !important;
    border-radius:0px !important ;
}
.list-inline {
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    list-style: none;
}
ul .rowtrending ul li {
    padding: 10px !important;
    font-weight:bold ;
}
ul .rowtrending ul li a{
    padding: 0 10px !important;
    font-weight:bold ;
}
.notborder{
    border: solid 0px !important;
}
.cardslife div p{
  display: inline-block;
}
h6{
    font-size: 0.9375rem;
    word-spacing: 5px;
}
